img {
   border-radius: 8px;
   vertical-align: middle;
}
video {
   border-radius: 8px;
}
button{
   font-size:18px;
}
.error-go{
   color:red;
   font-size:16px;
   margin:10px 10px 10px 10px;
   text-decoration: none;
}
.dropbtn {
   height: 40px;
   width: 90px;
   padding: 10px;
   font-size: 16px;
   border: none;
}
.dropdown {
   position: relative;
   display: inline-block;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   width: 150px;
   font-size: 16px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   padding:8px;
}
.dropdown-content a {
   color: black;
   padding:8px;
   text-decoration: none;
   display: block;
   border-radius: 4px;
   background-color: white;
}
.dropdown-content a:hover {
   background-color:whitesmoke;
}
.dropdown:hover .dropdown-content {
   display: block;
}
.dropdown:hover .dropbtn {
   background-color:#1523e6;
}
a:link{
   color:#800000;
}
a:visited {
   color: #800000;
}
@media only screen and (max-width: 600px) { 
   .logo{
      width:100%;
      height:500px;
   }
   .logo-space{
      margin-top:5px;
      margin-bottom:5px;
   }
   .btn .btn-primary{
      font-size: 10px;
   }
   .dropbtn {
      height: 40px;
      width: 90px;
      padding: 10px;
      margin-top:5px;
      margin-bottom:5px;
      font-size: 14px;
      border: none;
   }
   .section-img{
      width:100%;
      height:auto;
   }
   .notification{
      font-size: large;
   }
}
.align{
   text-align: center;
}
.textsize{
   font-family: "Arial";
   font-size: 18px;
}
.mentorheading-color{
   background-color:#DDA0DD;
   padding-top:2px;
   padding-bottom: 2px;
   font-size:24px;
}
.aboutus-img{
   width:300px;
   height:300px;
}
.best-img{
   height:300px;
   width:100%;
}
.course-textstyle{
   font-size:30px;
}
.space{
   margin-bottom: 5px;
   margin-left:10px;
}
.space-button{
   margin-top:5px;
}
.section-img{
   width:100%;
   height:auto;
}
.notification{
   color:#800000;
   text-shadow: #999999;
   font-size: large;
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: center;
}
.paytmqr{
   width:100%;
   height:500px;
}
.court-img{
   width:100%;
   height:360px;
}
.form-heading{
   background-color:#B4F56C;
   padding-top: 2px;
   padding-bottom: 2px;
   border-radius: 5px;
   font-size:20px;
}
.section-heading{
   font-family: "Arial";
   font-size: 20px;
   background-color:#cff34f;
   padding-top: 2px;
   padding-bottom: 2px;
   border-radius: 5px;
}
.footer{
   background-color:#F0F8FF;
}
.footerlink{
   font-family: "Arial";
   font-size: 20px;
   background-color:#FFE933;
   border-radius: 5px;
}
.step2-first{
   background-color:lightpink;
   border-radius: 5px;
}
.step2-second{
   background-color:lightgreen;
   border-radius: 5px;
}
.logo{
   width:100%;
   height:100%;
}
.mentor-self-image{
   width:100%;
   height:350px;
}

/* Customize the label (the container) */
.container {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   margin-top:15px;
   cursor: pointer;
   font-size: 16px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
} 
 /* Hide the browser's default checkbox */
.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
} 
 /* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: rgb(147, 236, 144);
} 
 /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
   background-color: #ccc;
} 
 /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
   background-color: #2196F3;
} 
 /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
 /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
   display: block;
}
 /* Style the checkmark/indicator */
.container .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}