img {
    border-radius: 8px;
    vertical-align: middle;
}
video {
    border-radius: 8px;
}
a:link{
    color:#800000;
}
a:visited {
    color: #800000;
}
button {
    border-radius: 0;
    color:black;
}
.mm{
    font-family: "Sofia";
    font-size: 22px;
}
.lll{
    background-color:white;
}
.kkk{
    background-color:#ccebff;
}
.kk{
    font-family: "Arial";
    font-size: 22px;
}
.kl{
    font-family: "Arial";
    font-size: 28px;
    background-color:#FFE933;
}
.lkp{
    font-family: "Arial";
    font-size: 18px;
    background-color:#A6ACAF;
}
.ll{
    background-color:white;
}
.pox{
    text-align:center;
}
.llm{
    background-color:#F0F8FF;
}
.lk{
    background-color:#DDA0DD;
}
.ch{
    border-radius: 50%;
    height: 300px;
}