<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'abhinash.jpg'%}" class='mentor-self-image'><br>
                <h3>Abhinash Padhan</h3>
                <h3>Creative Director / Video Editor </h3>
                <h3>abinashpadhan1294@gmail.com</h3>
                <p class="textsize">
                    ▪ Promotional Documentary for TATA TRUSTS in 2017.
                    ▪ Documentary Film ‘Gunjaran 1 and 2’ for Sikshasandhan an NGO in Odisha.
                    ▪ Video Report on ‘Situational Analysis of PVTGS of Odisha’ for CDWS and Unicef in 2019.
                    ▪ Documentary film ‘Lighting their Dream’ for Indo Russian cinema Federation in 2018.
                    ▪ Documentary film on ‘Star School Program’ and ‘Foster Care Project’ for YCDA an NGO in Odisha
                    ▪ Documentary Film: ‘They call me Bideshini’ for Video Volunteer and US Embassy for Change Chitra NGO
                    ▪ Documentary film ‘God’s own People’ for Roshini Foundation Sambalpur.
                    ▪ Documentary film ‘Sakuntala’ for Being Human 11 Foundation Odisha.
                    ▪ Documentary film on ‘Sanksar Kendra’ of VSSUT in 2015.
                    ▪ Documentary film ‘Arun A Life of Inspiration’.
                    ▪ Documentary film ‘Arun the pioneer of student’s politics Odisha’.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
