<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'abhya.png'%}" class="mentor-self-image"><br>
                <h3>Abhay</h3>
                <h3>Freelance Guitarist & Electronic music producer</h3>
                <h3>akp.mpofficial@gmail.com</h3>
                <p class="textsize">
                    Hello I'm Abhay, I am a freelance guitarist and Electronic Music producer, I am a native of Sambalpur, Odisha.
                    I work as a guitar instructor at Torrins India. I also give private lessons to students over skype and zoom.
                    I finished my diploma of Electronic Music Production at KM Music College, Chennai, in the year 2018.
                    I specialize in genres like Blues, Rock, Post Rock, Metal, Progressive Rock and Neoclassical.
                    I also give lessons on Western Music Theory.
                    I have a teaching experience of over 4 years, I worked with several bands and solo artists for both own compositions and recreative productions.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
