<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'aahana.jpg'%}" class='mentor-self-image'><br>
                <h3>Ahana Chand</h3>
                <h3>Illustrator & Masters in VLSI</h3>
                <p class="textsize">
                    Making illustrator always makes me happy. I make illustrators in Adobe illustrator. I can help you with basics. I am still learning. I am looking forward to help you all with whatever knowledge I have.
                    Right now I am doing Mtech in VLSI. I can also help you in case of any query you have in VLSI.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
