<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'ping.png'%}" class='mentor-self-image'><br>
                <h3>Akankshya Rout</h3>
                <h3>Application development Analyst & Dancer</h3>
                <h3>routakankshya@gmail.com</h3>
                <p class="textsize">
                    Having nearly 2.5 years of professional experience in the IT industry with history of productive and successful project
                    outcome
                    ● Leveraged knowledge in working with tools such as Putty, Git, Postman, Jira, Confluence, Git, SQL, Hadoop,
                    SPARK, HDP, AWS and Big Data tools with a clear understanding of each of the tools
                    ● Basic hands on experience in Python programming, Java, SpringBoot and Reporting tools like Tableau, Neo4J
                    ● Stream training in Hadoop, Hive, Cassandra, Spark, Hortonworks with strong understanding of architecture
                    ● Good exposure stages of Data Integration and Ingestion
                    ● Hands on experience in SPARK, OOZIE, HDP AMBARI, HIVE, HADOOP, SQL and ETL functionalities
                    ● Experienced in working in a LINUX environment with knowledge of commands and basic idea of shell scripting
                    for automation and everyday use.
                    ● Development of spring rest application for client use purpose
                    ● Ability to clarify objectives, evaluate options, consider implications, assess risks and decision-making skills
                    ● Extensive people interactive skills and ability to make proper and thorough communication
                </p>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
