<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'ananda.jpg'%}" class='mentor-self-image'><br>
                <h3>Anand tulluri</h3>
                <h3>Software Developer and Sports Enthusiastic</h3>
                <p class="textsize">
                    I'm Anand tulluri with 27years, few years of experience in IT and working as software developer,
                    I'm passionate to explore my life in different ways sports, software technology, and writing and adventures to satisfy my soul and I'm here to give best of my knowledge to others.
                </p>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
