<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'anindya.jpg'%}" class='mentor-self-image'><br>
                <h3>Anindya Ankan Das</h3>
                <h3>Mtech in Manufacturing Engineering at IIT Bhubaneswar,Motivator</h3>
                <h3>aad13397@gmail.com</h3>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
