<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h2 class="align mentorheading-color">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'kabita.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Kavita</h3>
                <h3 class="textsize">Sketch Artist</h3>
                <a href="kavitha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'piyush.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Prityush</h3>
                <h3 class="textsize">Environmentalist & Photographer</h3>
                <a href="piyush"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rispa.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Rispa</h3>
                <h3 class="textsize">Odissi, Hip-hop Dancer & Actor</h3>
                <a href="rispa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Soumya</h3>
                <h3 class="textsize">Masters in Business Administration & Artist</h3>
                <a href="soumya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jyoti_.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Jyoti</h3>
                <h3 class="textsize">Storyteller</h3>
                <a href="jyoti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Lopa.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Lopamudra</h3>
                <h3 class="textsize">Photographer</h3>
                <a href="lopamudra"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'shuvayu.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Shuvayu</h3>
                <h3 class="textsize">Anchor & Software Engineer</h3>
                <a href="shuvayu"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Farheen</h3>
                <h3 class="textsize">Creative Artist & Software Techie</h3>
                <a href="farheen"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Darshini</h3>
                <h3 class="textsize">Artist & Poetess</h3>
                <a href="darshini"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'abhinash.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Abhinash</h3>
                <h3 class="textsize">Film Maker</h3>
                <a href="abhinash"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'animesh.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Animesh</h3>
                <h3 class="textsize">M Arch, Singer & Poet</h3>
                <a href="animesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'bhartendu.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Bharatendu</h3>
                <h3 class="textsize">Digital Art Maker</h3>
                <a href="bharatendu"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya_prusti.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Soumya</h3>
                <h3 class="textsize">Architect & Interior Designer</h3>
                <a href="soumya_prusti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sushree.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sushree</h3>
                <h3 class="textsize">Architect and an artist </h3>
                <a href="sushree"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ppriyanka.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Priyanka</h3>
                <h3 class="textsize">Calligrapher, Writer & Poetess</h3>
                <a href="priyankapoetess"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'prasanna.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Prasanna</h3>
                <h3 class="textsize">Oracle Developer, Quiling & Thread Artist.</h3>
                <a href="prasanna"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>