<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'asd.png'%}" class='mentor-self-image'><br>
                <h3>ASD Shaikk</h3>
                <h3>Maintenance and planning engineer</h3>
                <h3>shaik.asad@vedanta.co.in</h3>
                <p class="textsize">
                        3 Year in Hindustan zinc ltd – Vedanta  as a  Maintenance  I/C & Lead  planner for  HEMM Fleets & Utility service equipments used in Underground mines for drilling  stopes ,Loading ore & Hauling the material back to surface
                        •	 Deals with quality maintenance figures of every fleet came for maintenance like PM effectiveness ,PM/BD Ratio, Task list compliance, CBM Compliance %,MTBF/MTTR Tracking for the year.
                        •	Have very good exposure in maintenance of heavy fleets used for drilling , load & Haulage.
                        •	Have been looking after tool life and grinding technique to relive the tool for drilling.
                        •	Long hole stoping technique was tried  and imbibed to reach our targets by varying tools used for long hole drilling in production techniques.
                        •	Have achieved targets in drilling for both development and production in the mines.
                        •	 Have benchmarked SMP for every maintenance practise we follow.
                        •	Job cards for every fleet along with entire safety checklists and every nook corner checklist.
                        •	Deal with MTTR & MTBF of every fleets and achieved benchmarked targets.
                        •	 Modify the fleets to our requirements to achieve maximum availability and optimum utilisation.
                        •	Maintenance of critical equipment’s/fleets within stipulated time allotted by operational team.
                        •	CBM Tracking of critical equipment is like Ventilation fan, Dewatering pumps.
                        •	Ensures every team member follows safety standards like PTW & LOTOTO.
                        •	Spare planning in such a way to avoid unnecessary inventory & space  cost.
                        •	Master user of SAP in mechanical domain.
                        •	Maintenance & Troubleshooting of dumpers and loaders used in ore transportation.
                        •	Quality assurance guide for maintenance in restricted time.
                        •	Spare planning and management of critical service equipment’s.
                        •	Condition based monitoring of critical equipment’s as Solo & jumbo used in UG mines.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
