<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'Ayushi.jpg'%}" class='mentor-self-image'><br>
                <h3>Ayushi Dash</h3>
                <h3>IT Consultant & Dancer</h3>
                <h3>ayushidash.ad@gmail.com</h3>
                <p class="textsize">
                    I am currently working at Deloitte USI Consulting. It's been 2 years to the journey. Apart from being an IT being, I am a dancer.
                    I try to make time from the busy schedule to continue with my learnings and practice. I have realized, it is not that difficult to manage stuff if you are really interested in something and really passionate about it.
                    So feel free to reach out if you want to have a chit chat with me regarding dance, music, or anything that is confusing you regarding your career as a dancer or anything else :)
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
