<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'chetna_mike.jpg'%}" class='mentor-self-image'><br>
                <h3>Chetana Milke</h3>
                <h3>Management</h3>
                <h3>chetna.milke@gmail.com</h3>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
