<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'deekshith.jpg'%}" class='mentor-self-image'><br>
                <h3>Deekshith Patel</h3>
                <h3>Masters in Electronics,EV Machines & Signals</h3>
                <h3>deeksi.dasari@gmail.com</h3>
                <p class="textsize">
                    Myself Deekshith Kumar attained Masters by research from AMRITA VISHWA VIDYAPEETHAM, COIMBATORE in the branch of power electronics.
                    My interests are Electric vehicles and machines, Signal processing techniques.
                    I had qualified GATE in 2018 from the stream of EE
                    My research paper was published in ICAPSM 2020.
                    I'm an optimist person looking for wide opportunities for sharing my thought related to the stream of electrical without any hesitation.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
