<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h2 class="align mentorheading-color">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'soumya.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Soumya</h3>
                <h3 class="textsize">Masters in Business Administration & Artist</h3>
                <a href="soumya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'goutam.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Goutam</h3>
                <h3 class="textsize">Masters from IIST in Quantum Physics</h3>
                <a href="goutam"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'aahana.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Ahana</h3>
                <h3 class="textsize">Illustrator & Masters in VLSI</h3>
                <a href="ahana"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'bikram.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Bikram</h3>
                <h3 class="textsize">Doctor</h3>
                <a href="bikram"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'juned.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Juned</h3>
                <h3 class="textsize">Literarian</h3>
                <a href="juned"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Sukesh</h3>
                <h3 class="textsize">Dentist</h3>
                <a href="sukesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'karan.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Karan</h3>
                <h3 class="textsize">Teacher & YouTuber</h3>
                <a href="karan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'anindya.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Anindya</h3>
                <h3 class="textsize">Mtech in Manufacturing Engineer,Motivator</h3>
                <a href="anindya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sandhya.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sandhya</h3>
                <h3 class="textsize">Biotechie, Masters in Biochemistry and Molecular Biology</h3>
                <a href="sandhya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jita.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Jita</h3>
                <h3 class="textsize">MBA(HR) & Associate in CSIR-IMMT</h3>
                <a href="jita"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deekshith.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Deekshith</h3>
                <h3 class="textsize">Masters in Electronics, EV Machines & Signals</h3>
                <a href="deekshith"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'animesh.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Animesh</h3>
                <h3 class="textsize">M Arch, Singer & Poet</h3>
                <a href="animesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'albin.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Albin</h3>
                <h3 class="textsize">Civil engineer</h3>
                <a href="albin"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'nikhil.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Nikhil</h3>
                <h3 class="textsize">MTech in Mechatronics and automation</h3>
                <a href="nikhil"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Jayesh_Panigrahi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Jayesh</h3>
                <h3 class="textsize">Management Graduate at IIM Sirmaur. </h3>
                <a href="jayesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'manisha.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Manisha</h3>
                <h3 class="textsize">Aptitude & Reasoning Guide</h3>
                <a href="manisha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'tanaya.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Tannya</h3>
                <h3 class="textsize">Mechanical Engineer</h3>
                <a href="tannya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pooja.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Pooja</h3>
                <h3 class="textsize">Architect</h3>
                <a href="pooja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'gangaprasad.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Gangaprasad</h3>
                <h3 class="textsize">GATE/ESE & Data Analytics Expert</h3>
                <a href="gangaprasad"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'amal.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Amal</h3>
                <h3 class="textsize">Integration Analyst & Academic Counsellor</h3>
                <a href="amal"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'lipsa.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Lipsa</h3>
                <h3 class="textsize">MBA & Book Reviewer/Blogger</h3>
                <a href="lipsa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'werika.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Werika</h3>
                <h3 class="textsize">Masters in Water Resource Engineering</h3>
                <a href="werika"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pechetti.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sri valli P</h3>
                <h3 class="textsize">Agricultural Expert</h3>
                <a href="srivalli"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">BV Aditya</h3>
                <h3 class="textsize">SOC analyst</h3>
                <a href="bvaditya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'boaz.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Abishakth</h3>
                <h3 class="textsize">Master of Science in Industrial Engineering</h3>
                <a href="boaz"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sarthak.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sarthak</h3>
                <h3 class="textsize">Career guide & Counsellor</h3>
                <a href="sarthak"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'nimai.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Nimai</h3>
                <h3 class="textsize">Government exams expert</h3>
                <a href="nimai"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'utkal.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Utkal</h3>
                <h3 class="textsize">Competitive Exams Guide</h3>
                <a href="utkal"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'chetna_mike.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Chetana Milke</h3>
                <h3 class="textsize">Management trainee</h3>
                <a href="chetana"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Vishwanath</h3>
                <h3 class="textsize">Marketing Specialist and Professor</h3>
                <a href="vishwanath"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'aman.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Aman</h3>
                <h3 class="textsize">Web developer</h3>
                <a href="aman"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'indu.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Indu</h3>
                <h3 class="textsize">Test engineer</h3>
                <a href="indu"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>