<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'Ekta.jpg'%}" class='mentor-self-image'><br>
                <h3>Ekta </h3>
                <h3>Software engineer at Boeing</h3>
                <h3>ektagandhi333@gmail.com</h3>
                <p class="textsize">
                    I am Ekta. I am from Haryana, Sonipat. Before joining Boeing I was working with Infosys for 3 years as a java developer. I have implemented projects that were used in talent transformation programs across Infosys and clients. 
                    In my free time I love to paint, watch movies and explore new places.
                    I look forward to work and grow with you all in my new journey with Boeing. Looking forward to learn new things and grow professionally and personally.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
