<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'ping.png'%}" class='mentor-self-image'><br>
                <h3>Haritha Thakur</h3>
                <h3>IT professional & Fitness Expert</h3>
                <p class="textsize">
                    An IT professional with 5+ years of experience on testing background.
                    Interests in music, dancing, pencil sketching and fitness expert.
                    Believes that patience listening is the key to understand and being calm while handling any situation gives maturity to the one's point of view.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
