<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'krutee.jpg'%}" class='mentor-self-image'><br>
                <h3>Krutee Mishra</h3>
                <h3>Odissi Dancer</h3>
                <h3>kruteemishra98@gmail.com</h3>
                <p class="textsize">
                    Odissi has been a part of my life since I was 4 years old . Back then I understood nothing , but my parents
                    figured out this was the only class I was willing to attend happily . With continuous practice for 16+ years ,
                    under Smt. Pranati Mohanty , I completed my graduation with Distinction in Odissi from Chandigarh
                    University in the year 2014 . Post my graduation I have been a part of various workshops , performed at
                    multiple occasions , carrying forward the legacy I learnt . An Architect by profession who enjoys handling
                    space with grace and fluidity .
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
