<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'Lopa.jpg'%}" class='mentor-self-image'><br>
                <h3>Lopamudra</h3>
                <h3>Photographer</h3>
                <h3>loopschotu@gmail.com</h3>
                <p class="textsize">
                    I am civil post graduate student, and an enthusiastic shutterbug. Exploring and learning each day. Magazines, YouTube videos were my guides other than my clubmates in college for bringing a creative perspective in life.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
