<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h2 class="align mentorheading-color">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'abhya.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Abhay</h3>
                <h3 class="textsize">Freelance Guitarist & Electronic music producer</h3>
                <a href="abhya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'anupam.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Anupam</h3>
                <h3 class="textsize">Sound Engineer, Music Producer & Drummer</h3>
                <a href="anupam"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'manan.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Manan</h3>
                <h3 class="textsize">Professional Guitarist</h3>
                <a href="manan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'radhakant.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Radhakant</h3>
                <h3 class="textsize">Singer</h3>
                <a href="radhakant"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'shashank.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Shashank</h3>
                <h3 class="textsize">Classical flute player</h3>
                <a href="shashank"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rishi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Rishi</h3>
                <h3 class="textsize">Guitar Player</h3>
                <a href="rishi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'smaroki.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Smaroki</h3>
                <h3 class="textsize">Singer & Dancer</h3>
                <a href="smaroki"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>