<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'Nirali.jpg'%}" class='mentor-self-image'><br>
                <h3>Nirali Shroff</h3>
                <h3>Psychologist & HR professional</h3>
                <p class="textsize">
                    This is Nirali Shroff from Mumbai. I'm a passionate HR professional and the Founder of The HR Suite. With a Master's in Industrial Psychology and half a decade of experience in the Human Resources industry,
                    I specialise in an array of HR services such as recruitment, resume writing, interview coaching, career guidance, psychometric testing and more! I am a people's person, just like my profession demands, and I'd love to mentor and guide anybody who is enthusiastic to learn anything and everything about Human Resources.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
