<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'oshi.jpg'%}" class='mentor-self-image'><br>
                <h3>sk oshi</h3>
                <h3>Lifestyle counsellor</h3>
                <h3>skoshi520@gmail.com</h3>
                <p class="textsize">
                    Hello, My name is Shaikh Oshi, and I am a Software Engineer by profession and a part-time Life and spirituality coach who knows the struggle of trying to balance a career and family. In my coaching practice, I provide the tools, strategy, and support to help people create meaningful change in their lives.
                    In my free time, I am a community volunteer, hiker, traveler, yogi, compassion, and mindfulness practitioner.
                    I love my work because helping people be successful and fulfilled is deeply meaningful to me. I struggled with the same challenges my clients face. I am very familiar with the pressure of job deadlines, family obligations, and feelings of inadequacy. I get it. I know there is a better way.
                    Coaching transformed my life. It is my life's purpose to help people create a life they are proud of.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
