<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h2 class="align mentorheading-color">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'shradha.jpeg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Shraddha</h3>
                <h3 class="textsize">Content writer & personality development trainer</h3>
                <a href="shradha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sujata.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Sujata</h3>
                <h3 class="textsize">Writer & Astrophysict</h3>
                <a href="sujata"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'piyush.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Prityush</h3>
                <h3 class="textsize">Environmentalist & Photographer</h3>
                <a href="piyush"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'asmita.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Asmita</h3>
                <h3 class="textsize">Gardener, Cook & Fitness Artist</h3>
                <a href="asmita"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'amal.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Amal</h3>
                <h3 class="textsize">Integration Analyst & Academic Counsellor</h3>
                <a href="amal"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'oshi.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">SK Oshi</h3>
                <h3 class="textsize">Lifestyle counsellor</h3>
                <a href="oshi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pechetti.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Sri valli P</h3>
                <h3 class="textsize">Agricultural Expert</h3>
                <a href="srivalli"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sushil.jpg'%}"  class="best-img"><br><br>
                <h3 class="textsize">Sushil</h3>
                <h3 class="textsize">veterinarian</h3>
                <a href="sushil"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>