<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'palavi_del.jpg'%}" class='mentor-self-image'><br>
                <h3>Pallavi</h3>
                <h3>Software designer at DELL</h3>
                <h3>pallavis465@gmail.com</h3>
                <p class="textsize">
                    This is Pallavi Satpathy.I am working for Dell India R&D after completing my MTech in Computer Science from BITS Pilani.Feel free to reach out to me if you need any help regarding Masters in Engineering in India(preparation,advantages etc.)
                    or with campus placements preparation for IT companies.Looking forward to help you.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
