<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'pallavii.jpg'%}" class='mentor-self-image'><br>
                <h3>Pallavi Priya</h3>
                <h3>Social Entrepreneur & Digital Influencer</h3>
                <h3>soypallavipriya@gmail.com</h3>
                <p class="textsize">
                    Pallavi is a Social Entrepreneur and Digital Influencer associated with various projects that help change society.
                    She is the founder of a nonprofit initiative 'Cause for Celebration' which aims to serve, empower and uplift the underprivileged and lower income communities.
                    She is a Youth for SDG and runs a digital initiative 'Eco-Friendly World' which works in line with SDG goals on climate action, spreads awareness on environment protection and encourages individuals to adopt sustainable living.
                    She has 10+ years of volunteering, planning & event organizing, ideation session experience into the social sector.
                    The cause very close to her heart is women safety and child development.
                    Her work has been recognized by leading newspapers and The Better India.
                    She strongly believes if we are capable of something, we should share it with the less fortunate of the world.
                    She keeps upskilling with the latest technologies and is an Oracle DBA expert and has approx. 8 years of IT industry experience.
                    To know more about Pallavi and her work, please connect on below handles.
                    LinkedIn: https://www.linkedin.com/in/pallavi-priya-6b6540105/
                    Twitter: https://twitter.com/pallavipriya_
                    Facebook: https://www.facebook.com/acause4celebration/
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
