<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'pop.jpeg'%}" class='mentor-self-image'><br>
                <h3>Popin Saone</h3>
                <h3>Poppin Dancer</h3>
                <h3>ddjs2b@gmail.com</h3>
                <p class="textsize">
                    Into street dance since 2k15,4 years of popping and still on,No titles yet.But grinding myself for it.Rep myself at Various jams in odisha.Featured with kundu.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
