<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'prasanna.jpg'%}" class='mentor-self-image'><br>
                <h3>Prasanna</h3>
                <h3>Oracle Developer, Quiling & Thread Artist.</h3>
                <p class="textsize">
                    Currently I’m working on a oracle retail project for a us based client. Oracle retail is one of the widely spread technology being used all over the world.
                    This system handles and tracks every transaction from getting the product from the product being ordered from the supplier till the product reaches the customer either by online and store.
                    We handles the orders , allocations , product transfers , promotions pretty much everything that could associate with a product.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
