<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h2 class="align mentorheading-color">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'shree.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Shreeparna</h3>
                <h3 class="textsize">Software techie at Deloitte</h3>
                <a href="shree"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soni.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sony</h3>
                <h3 class="textsize">Health care expert at Wipro</h3>
                <a href="soni"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jawat.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Jahwat</h3>
                <h3 class="textsize">Agile,SAP ILM/ Basis Developer</h3>
                <a href="jawat"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'priynka.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Priyanka</h3>
                <h3 class="textsize">SAP ABAP/BODS Developer</h3>
                <a href="priyanka"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rahul.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Junior associate at SBI</h3>
                <h3 class="textsize">Rahul</h3>
                <a href="rahul"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'tejawsi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Tejaswi</h3>
                <h3 class="textsize">IT professional and Communicator</h3>
                <a href="tejaswi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Smita</h3>
                <h3 class="textsize">Cloud Operations Expert</h3>
                <a href="smita"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Sanjana</h3>
                <h3 class="textsize">Brand Marketing Expert</h3>
                <a href="sanjana"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'padmini.jpeg'%}" class="best-img"><br><br>
                <h3 class="textsize">Padmini</h3>
                <h3 class="textsize">MBA & Agile Developer</h3>
                <a href="padmini"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'hardeek.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Hardeek</h3>
                <h3 class="textsize">SAP & ABAP Developer</h3>
                <a href="hardeek"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya_prusti.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Soumya</h3>
                <h3 class="textsize">Architect & Interior Designer</h3>
                <a href="soumya_prusti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'amit_patjoshi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Amit</h3>
                <h3 class="textsize">Healthcare consultant, Gamer & Computer Geek</h3>
                <a href="amitpatjoshi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'priynka_brahama.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Priynka</h3>
                <h3 class="textsize">Quality assurance, Auditing & Customer Management</h3>
                <a href="priyankapoetess"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'palavi_del.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Pallavi</h3>
                <h3 class="textsize">Software engineer</h3>
                <a href="pallavi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sidhi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sidhi</h3>
                <h3 class="textsize">Application Development Analyst</h3>
                <a href="sidhi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumav.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Soumav</h3>
                <h3 class="textsize">Data Engineer & Product Integration</h3>
                <a href="soumav"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'prachii.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Prachi</h3>
                <h3 class="textsize">Asic verification engineer</h3>
                <a href="prachi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Ayushi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Ayushi</h3>
                <h3 class="textsize">IT Consultant & Dancer</h3>
                <a href="ayushi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pallavii.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Pallavi</h3>
                <h3 class="textsize">Social Entrepreneur & Digital Influencer</h3>
                <a href="pallavipriya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Nirali.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Nirali</h3>
                <h3 class="textsize">Psychologist & HR professional</h3>
                <a href="nirali"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deeja.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Deeja</h3>
                <h3 class="textsize">SAP consultant</h3>
                <a href="deeja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deepa.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Deepa</h3>
                <h3 class="textsize">Mechanical Maintenance Engineer</h3>
                <a href="deepa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'prasanna.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Prasanna</h3>
                <h3 class="textsize">Oracle Developer, Quiling & Thread Artist.</h3>
                <a href="prasanna"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'subashis.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Subashis</h3>
                <h3 class="textsize">UX/UI Designer, Product Designer</h3>
                <a href="subashis"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'trilochan.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Trilochan</h3>
                <h3 class="textsize">.NET Developer, IOT & Blockchain Expert</h3>
                <a href="trilochan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'saswat.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Saswat</h3>
                <h3 class="textsize">Career and Business Management</h3>
                <a href="saswat"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'somensoni.jpeg'%}" class="best-img"><br><br>
                <h3 class="textsize">Somensoni Behuria</h3>
                <h3 class="textsize">Oracle Application Developer.</h3>
                <a href="somensoni"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pooja.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Pooja</h3>
                <h3 class="textsize">Architect</h3>
                <a href="pooja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Haritha</h3>
                <h3 class="textsize">IT professional & Fitness Expert</h3>
                <a href="haritha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">BV Aditya</h3>
                <h3 class="textsize">SOC analyst</h3>
                <a href="bvaditya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sanju.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sanju</h3>
                <h3 class="textsize">Project & Business Ideas Expert</h3>
                <a href="sanju"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ananda.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Anand</h3>
                <h3 class="textsize">Software Developer and Sports Enthusiastic</h3>
                <a href="anand"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ritu.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Ritu</h3>
                <h3 class="textsize">Entrepreneur</h3>
                <a href="ritu"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'chiranjevi.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Chiranjeeb</h3>
                <h3 class="textsize">Business Development Executive</h3>
                <a href="chiranjeeb"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rahul2.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Rahul</h3>
                <h3 class="textsize">Cybersecurity Expert</h3>
                <a href="rahulcyberexpert"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'sushil.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sushil</h3>
                <h3 class="textsize">veterinarian</h3>
                <a href="sushil"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'suniti.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Suniti</h3>
                <h3 class="textsize">HR head at vedanta</h3>
                <a href="suniti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sushant.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Sushant</h3>
                <h3 class="textsize">Financiala advisor</h3>
                <a href="sushant"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" class="best-img"><br><br>
                <h3 class="textsize">Manasa</h3>
                <h3 class="textsize">Software engineer at JP Morgan</h3>
                <a href="manasa"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'aman.jpg'%}" class="best-img"><br><br>
                <h3 class="textsize">Aman Agrwal</h3>
                <h3 class="textsize">Web developer</h3>
                <a href="aman"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>