<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'radha.png'%}" class='mentor-self-image'><br>
                <h3>Radha Govind das</h3>
                <h3>TEXTILE DESIGNER</h3>
                <h3>radhagovinddas0@gmail.com</h3>
                <p class="textsize">
                    Ambitious and focused individual, who is self motivated.
                    Enjoys hardwork and being challenged. I feel very close to
                    art and I believe that a good design is not just the functional
                    aspects but the fun factor to any design which adds life
                    in any design. I pay a lot of attention to every small details,
                    I believe that smaller details when done with maximum
                    stance is always impactful. I always intend to make designs
                    which won’t just merely please the customers but also could
                    get them a chance to expirement and add newness to their
                    lives. I’m always on lookout for new projects
                    and collaborations.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
