<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'rahul2.jpg'%}" class='mentor-self-image'><br>
                <h3>Rahul</h3>
                <h3>Cybersecurity Expert</h3>
                <p class="textsize">
                   Rahul Pandey is a certified cyber crime intervention officer under national security database(NSD),Govt of india and also involved in cybersecurity research and cyber crimes investigation.
                   He is a member of National Information Security Council and works with Uttar Pradesh Police As a Security Researcher. He is an IBM Certified Cybersecurity Analyst specifically skilled in Security/Vulnerability Research,
                   Web Application Security, Network Security, Penetration Testing, Tactical Exploitation, Information Gathering, Training, Public Speaking, Creative Thinking, Darknet Investigation..
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
