<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'rishi.jpg'%}" class='mentor-self-image'><br>
                <h3>Rishi</h3>
                <h3>Guitar Player</h3>
                <h3>huntjason06@gmail.com</h3>
                <p class="textsize">
                   I am Smarak Patnaik.I have been playing guitar for over 8 years . In general, I like to know more about sounds and how they function.I like listening to film scores and video game themes a lot.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>