<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'shradha.jpeg'%}" class='mentor-self-image'><br>
                <h3>Shradharani Patra</h3>
                <h3>Content writer and personality development trainer</h3>
                <h3>199630shraddha@gmail.com</h3>
                <p class="textsize">
                    How do I start a blog? What caption should go with my Instagram post? I have a thought to share, but how do I put it out in words? How do I make my content appealing? How do I write a blog post?
                    How do I present myself in a Job Interview? How do I prepare for a speech?
                    You might be having thousands of questions like these. But all you need is a little grooming!
                    Hi, I am Shraddha. A Personality Development Trainer and an Experienced Content Writer having expertise in Corporate Website Content, Blogs and Social Media Handles.
                    I am here to help you develop a personality that turns heads and make your content posh.
                    Since the world has gone digital, Personality & Content holds a major stake in how you want to showcase yourself or your business/passion to your audience.
                    Believe it or not, it is one of those first impressions you make on your audience.
                    Sign up for some valuable addition to your skills. You and your content should shine like 24 carat Gold!
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
