<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'shruti.jpg'%}" class='mentor-self-image'><br>
                <h3>Shruti</h3>
                <h3>Architectural Designer</h3>
                <p class="textsize">
                    My scope of work is architectural design. I have work experience in designing residential building, commercial complex, landscape, interior etc. I have also knowledge of software  like CAD,
                    Sketchup, lumion, photoshop. These are the things I am expertise with and can guide in all this matter.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
