<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'sidhi.jpg'%}" class='mentor-self-image'><br>
                <h3>Sidhi Satpathy</h3>
                <h3>Application Development Analyst</h3>
                <h3>sidhi.satapathy04@gmail.com</h3>
                <p class="textsize">
                    Currently, I am working as an application development analyst with Accenture where I am a contractor in British telecom. I can help you understand how to acquire different skill set and automate various things around. My basic skill is selenium with Java.
                    Apart from this, I love dancing, writing and playing basketball. I was very young when I started learning odissi as a special activity and basketball as a lead up activity in my school.
                    I could also provide you some knowledge on content writing as well as I have written few blogs in my site thyessence.wix.com.Bloging is my favourite pass time as it helps me pen down my feelings. I could also provide you knowledge about Various MUN i.e
                    Model United Nations and how does it function and how should you take up countries and do your research.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
