<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'ping.png'%}" width="100%" height="350px"><br>
                <h3 class="pox">Soumyashree Panda</h3>
                <h3 class="pox">sketch artist and craft artist</h3>
                <h3 class="pox">soumyashreepanda1771996</h3>
                <h3 class="pox">@gmail.com</h3>
                <p class="kk pox">
                    I am Soumyashree Panda,currently working at TCS as a Software Analyst.Well Art is something I really go crazy about since my childhood.So here I am at Consult & Counsel as a mentor for 'Art and Sketch'.
                    I will guide you and share my knowledge that involves various sketching techniques, types of drawing papers, colours and their use, best brushes for colouring, pencils for sketching, sketching tools etc.
                    if you have any queries regarding craft I will help you with that also.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
