<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'ping.png'%}" class='mentor-self-image'><br>
                <h3>Sukesh</h3>
                <h3>Dentist to be.</h3>
                <h3>sukeshsomaram0110@gmail.com</h3>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
