<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'suniti.jpg'%}" class='mentor-self-image'><br>
                <h3>Suniti kumar dhal</h3>
                <h3>HR manager, IIM indore almuni</h3>
                <h3>suniti@gmail.com</h3>
                <p class="textsize">
                   I am an almuni of IIM indore, currently working as a HR professonal. Any help you need regarding MBA Or HR, I am here to help you. Book session to talk with me.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
