<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'sushant.jpg'%}" class='mentor-self-image'><br>
                <h3>Sushant kumar Dhal</h3>
                <h3>Financial advisor</h3>
                <h3>sdhal00@gmail.com</h3>
                <p class="textsize">
                   If you have any questions related to Finanice like NPS,insurance or plan, book a session. I am here to help you.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
