<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'swadesh.jpg'%}" class='mentor-self-image'><br>
                <h3>Swadesh</h3>
                <h3>NGO Program manager</h3>
                <p class="textsize">
                    I am working as a Programme Manager in a reputed NGO in Odisha since last 3 years. I took the decision of joining the development sector to start my career and help make this world a better place, after completing my BTech in Information Technology from Veer Surendra Sai University of Technology, Burla.
                    I have taken part and led of a number of student-driven initiatives working in the field of primary education, child labour, blood donation drives, etc during my student life. Now I am working in the field of Child Rights, Rural Development, Elementary Education, Women Empowerment and various in Community based projects.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
