<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'swaraj.png'%}" class='mentor-self-image'><br>
                <h3>Swaraj</h3>
                <h3>Bachelor in Music, Yoga and Diet Consultant</h3>
                <p class="textsize">
                    Let we firstly brief you something about the founder and your Chief Trainer of HAM .. He is Sangeet Vishaarad aadarneeya "Swaraj Dash ji" whose poetic name is taken as "Swaraj Aanand".. Born 21st June 1999 on World Music & Yoga Day in India. Swaraj ji began his being in music since he was 3 under his Guru Sangeet Alankaar Shree Gyananjana Mahapatra ji , who is  a direct lucky grand disciple of BhaaratRatna Pt Bhimsen Joshi ji..Swaraj ji completed his Vishaarad or Bachelor's in Hindustani Classical Vocal Music in Prayag Sangeet University Allahbad, India.
                    Swaraj is also a "Yoga Alliance United States Of America" certified Yoga Teacher as well as a Fitness & Diet Consultant as well as a Weightloss and Weightgain Consultant...For your astonished eye let we also inform u that last September when Swaraj ji was said by doctors that He can't sing for 14 months due to throat infection,Swaraj ji took it very subconsciously and started reducing his fat and without any medicine or steroid or any external guidance,Naturally Swaraj ji reduced around "50 kgs" i.e. from "115 Kg to 65" Kg with in "A Month".Now the World is behind him for the secret of it and he says "
                    It's all pure concentration towards a single thing that is Music " which left him to bring this change with in himself.Swaraj ji is a affiliated Music Composer in All India Radio & DoorDarshan & also a Voice Culture Trainer..Swaraj ji is now also working on as a Program Moderator in SPICMACAY (Society For Promoting Indian Classical Music And Culture Amongst Youth) under Ministry Of Culture GovtOfIndia..Swaraj ji is the Founder of HAM's production team also i.e. SUM (Soul Under Music) which is a Global chain Of Music Professionals and Artists Around Whole World..
                    With all of these experiences,Swaraj ji is now in service of you.Let you heal the World with Your Music.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
