<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'swapnasu.jpg'%}" class='mentor-self-image'><br>
                <h3>Swopnansu Sekhar Parida</h3>
                <h3>Solobackpaker </h3>
                <h3>swopnansusekharparida0928@gmail.com</h3>
                <p class="textsize">
                    Background : Electrical Engineering from Vssut , currently pursuing MBA in oil and gas management in Upes Dehradun
                    I luv to travel to new places
                    And iam here to convert my passion into proffesion 🙂
                    I luv to travel in lowest budget and have covered almost all North India famous spots like Delhi ,Manali , Kasol , Dalhousie , Dehradun ,Sankri, kedarkantha , Rishikesh, Haridwar...
                    Also I have visited Goa, Bombay, and many other places in South India.
                    Instagram :mushafir_hoon_yaroon
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
