<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'werika.jpg'%}"class='mentor-self-image'><br>
                <h3>Werika</h3>
                <h3>Masters in Water Resource Engineering</h3>
                <p class="textsize">
                    A girl from Shillong who is currently pursuing her masters in technology under water resource engineering domain.
                    She is passionate guide to people by providing them with important advices and decisions regarding their careers.
                    She also loves music and is a good singer.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
