<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'ping.png'%}" width="100%" height="25%"><br>
                <h3 class="pox">Akankshya Rout</h3>
                <h3 class="pox">Application development Analyst & Dancer</h3>
                <h3 class="pox">routakankshya@gmail.com</h3>
                <p class="kk pox">
                    Having nearly 2.5 years of professional experience in the IT industry with history of productive and successful project
                    outcome
                    ● Leveraged knowledge in working with tools such as Putty, Git, Postman, Jira, Confluence, Git, SQL, Hadoop,
                    SPARK, HDP, AWS and Big Data tools with a clear understanding of each of the tools
                    ● Basic hands on experience in Python programming, Java, SpringBoot and Reporting tools like Tableau, Neo4J
                    ● Stream training in Hadoop, Hive, Cassandra, Spark, Hortonworks with strong understanding of architecture
                    ● Good exposure stages of Data Integration and Ingestion
                    ● Hands on experience in SPARK, OOZIE, HDP AMBARI, HIVE, HADOOP, SQL and ETL functionalities
                    ● Experienced in working in a LINUX environment with knowledge of commands and basic idea of shell scripting
                    for automation and everyday use.
                    ● Development of spring rest application for client use purpose
                    ● Ability to clarify objectives, evaluate options, consider implications, assess risks and decision-making skills
                    ● Extensive people interactive skills and ability to make proper and thorough communication
                </p>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
