<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'amal.jpg'%}" width="100%" height="350px"><br>
                <h3 class="pox">Amal</h3>
                <h3 class="pox">Integration Analyst & Academic Counsellor</h3>
                <h3 class="pox">amal.ankem95@gmail.com</h3>
                <p class="kk pox">
                    This is Amal. I am a Computer Science graduate (Bachelor's degree from GITAM University, Visakhapatnam and Master's degree from Western Michigan University)
                    currently working as an Integration Analyst at MiHIN, a Health IT company. I currently live in the U.S. I am working towards becoming an AWS Certified Professional.
                    Apart from this I love traveling, cooking, watch a lot of movies. Growing up, I did not have a mentor/guide to show me different career options or abroad education.
                    Through this platform, i hope i can help atleast some of you. Feel free to reach out regarding abroad education, career guidance, academic guidance. Looking forward to help you.
                </p>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
