<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup best">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTORS</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <h2 class="pox lk">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'kabita.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Kavita</h3>
                <h3 class="kk">Sketch Artist</h3>
                <a href="kavitha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'piyush.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Prityush</h3>
                <h3 class="kk">Environmentalist & Photographer</h3>
                <a href="piyush"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rispa.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Rispa</h3>
                <h3 class="kk">Odissi, Hip-hop Dancer & Actor</h3>
                <a href="rispa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Soumya</h3>
                <h3 class="kk">Masters in Business Administration & Artist</h3>
                <a href="soumya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jyoti_.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Jyoti</h3>
                <h3 class="kk">Storyteller</h3>
                <a href="jyoti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Lopa.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Lopamudra</h3>
                <h3 class="kk">Photographer</h3>
                <a href="loops"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'shuvayu.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Shuvayu</h3>
                <h3 class="kk">Anchor & Software Engineer</h3>
                <a href="shuv"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Farheen</h3>
                <h3 class="kk">Creative Artist & Software Techie</h3>
                <a href="farheen"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Darshini</h3>
                <h3 class="kk">Artist & Poetess</h3>
                <a href="darshini"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'abhinash.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Abhinash</h3>
                <h3 class="kk">Film Maker</h3>
                <a href="abhinash"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'animesh.JPG'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Animesh</h3>
                <h3 class="kk">M Arch, Singer & Poet</h3>
                <a href="animesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'bhartendu.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Bharatendu</h3>
                <h3 class="kk">Digital Art Maker</h3>
                <a href="bharatendu"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya_prusti.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Soumya</h3>
                <h3 class="kk">Architect & Interior Designer</h3>
                <a href="soumya_prusti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sushree.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sushree</h3>
                <h3 class="kk">Architect and an artist </h3>
                <a href="sushree"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ppriyanka.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Priyanka</h3>
                <h3 class="kk">Calligrapher, Writer & Poetess</h3>
                <a href="pp"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'prasanna.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Prasanna</h3>
                <h3 class="kk">Oracle Developer, Quiling & Thread Artist.</h3>
                <a href="prasanna"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>