<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching advice Artist dancer musician teacher professional doctor writter sketch artist healthworker counselling best in india consulting session video lecture video session">
    <meta name="description" content="consult and counsel bring you the best consulting and counselling services in the field of Dance,Music,Art,Paint,Sketch,Education,Teaching,Health,Corporate,Writtings and many more">
    <meta name="description" content="We bring you the best consulting and counselling services irrespective of field with the help of renowned professionals in that particular concerned area">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4004445835078972"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>Consult&Counsel</title>
</head>
<body>
    <div class="container-fluid ll">
        <div class="row justify-content-around">
            <div class="col-sm-12">
                <a href="/"><img src="{% static 'pp.jpeg'%}" alt="Avatar" width="100%" height="120%"></a>
            </div>
        </div><br>
        <div class="row justify-content-around">
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">MENTORS</button>
                    <div class="dropdown-content">
                        <a href="mentors">ALL</a>
                        <a href="art">ART</a>
                        <a href="dancer">DANCE</a>
                        <a href="musician">MUSIC</a>
                        <a href="education">EDUCATION</a>
                        <a href="fashion">FASHION</a>
                        <a href="professional">PROFESSIONAL</a>
                        <a href="fitness">FITNESS</a>
                        <a href="vlogger">BLOGGING</a>
                        <a href="others">OTHERS</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <a href="session"><button class="dropbtn btn btn-primary">SESSION</button></a>
                    <div class="dropdown-content">
                        <a href="session">BOOK SESSION</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
               <div class="dropdown">
                    <a href="virtualcourt"><button class="dropbtn btn btn-primary">COURT</button></a>
                     <div class="dropdown-content">
                        <a href="virtualcourt">FILE A CASE</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <a href="volunter"><button class="dropbtn btn btn-primary">REGISTER</button></a>
                    <div class="dropdown-content">
                        <a href="volunter">JOIN AS A MENTOR</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">ACCOUNT</button>
                    <div class="dropdown-content">
                        <a href="login">LOGIN</a>
                        <a href="signup">SIGNUP</a>
                        <a href="account">PROFILE</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
               <div class="dropdown">
                    <a href="hireme"><button class="dropbtn btn btn-primary">HIRING</button></a>
                    <div class="dropdown-content">
                        <a href="hireme">HIRE AN EXPERT</a>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <a href="startnow"><button class="dropbtn btn btn-primary">COURSE</button></a>
                <div class="dropdown-content">
                        <a href="startnow">BOOK NOW</a>
                    </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <a href="testimony"><button class="dropbtn btn btn-primary">SOLUTION</button></a>
                    <div class="dropdown-content">
                        <a href="itsolution">DIGITAL SOLUTION</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% block content%}
    {% endblock content%}
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 pox">
            <a href="iimcalcutta-project"><h4>IIM-Calcutta Report On Consult&Counsel</h4></a>
        </div>
    </div>
    <div class="container-fluid llm">
        <div class="row">
            <div class="col-md-2 pox">
                <p class="kl">Legal</p>
                <a href="privacy"><p class="kk">Privacy</P></a>
                <a href="policy"><p class="kk">Policy</P></a>
                <a href="about"><p class="kk">About us</p></a>
            </div>
            <div class="col-md-2 pox">
                <p class="kl">Links</p>
                <a href="support"><p class="kk">Contact us</P></a>
                <a href="career"><p class="kk">Career</P></a>
                <a href="donation"><p class="kk">Donation</P></a>
            </div>
            <div class="col-md-2 pox">
                <p class="kl">Partners</p>
                <a href="https://vishuddhiyogastudio.business.site/?utm_source=gmb&utm_medium=referral"><p class="kk">Vishuddhi Yoga Studio</p></a>
                <a href="https://thehrsuite.wixsite.com/thehrsuite"><p class="kk">The HR Suite</a>
            </div>
            <div class="col-md-3 pox">
                <p class="kl">Social account</p>
                <div class="row">
                    <div class="col-12">
                        <a href="https://m.facebook.com/Consult-Counsel-117588793422169/"><i class="fab fa-facebook-square" style="font-size: 2.73em"></i></a>
                        <a href="https://www.linkedin.com/company/69157452/"><i class="fab fa-linkedin" style="font-size: 2.73em"></i></a>
                        <a href="https://www.instagram.com/consultandcounsel/"><i class="fab fa-instagram-square" style="font-size: 2.83em"></i></a>
                        <a href="https://www.youtube.com/channel/UC3PZOeQZcXvyN6J83LztqIg"><i class="fab fa-youtube-square" style="font-size: 2.83em"></i></a>
                    </div><br>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-sm-8"><br>
                        <a href="feedback"><p class="kk pox">Feedback</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pox">
                <p class="kl">Office address</p>
                <i class='fas fa-home' style='font-size:25px'></i>
                <p class="kk sl">Ejipura,Kormangala,Bangalore</p>
                <p class="kk sl">Railway colony,Ramagundam,Telangana</p>
            </div>
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4004445835078972"
     crossorigin="anonymous"></script>
</body>
</html>