<!DOCTYPE html>
{% extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup best">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <style>
    .ccs{
        background-image: url("court2.jpeg");
    }
    </style>
    <title>SESSION</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll ccs">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 pox">
                <h5 class="pox">How we conduct virtual court</h5>
                <p>1. We get a request from client.</p>
                <p>2. We discuss with client and figure out the problem.</p>
                <p>3. We talk with second person and get the confirmation.</p>
                <p>4. Then we conduct a court hiring on a particular date.</p>
                <p>5. We discuss in presence of an expert and judge to find out the best solution for both.</p>
                <p>6. After that, We close the case and we make sure all are going good by followup.</p>
                <a href="lastcall"><button class="btn btn-primary pox">Book now</button></a>
                <p>Note: Your any type of informations and data are always secured and confidental for us. We do not share such informations anywhere.</p>
            </div><br>
        </div>
    </div>
    {% endblock content %}
</body>
</html>