<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTORS</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <h2 class="pox lk">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'aayushi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Aayushi</h3>
                <h3 class="kk">Athlete,Dancer & Rugby player</h3>
                <a href="aayushi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'shree.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Shreeparna</h3>
                <h3 class="kk">Classical dancer & Software techie</h3>
                <a href="shree"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rispa.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Rispa</h3>
                <h3 class="kk">Odissi, Hip-hop Dancer & Actor</h3>
                <a href="rispa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'anukta.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Anukta</h3>
                <h3 class="kk">Actor, Dancer & Content Creator</h3>
                <a href="anukta"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'krutee.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Krutee</h3>
                <h3 class="kk">Odissi Dancer</h3>
                <a href="krutee"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Ayushi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Ayushi</h3>
                <h3 class="kk">IT Consultant & Dancer</h3>
                <a href="ayushi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pop.jpeg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sawan</h3>
                <h3 class="kk">Poppin Dancer</h3>
                <a href="popin"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rudra.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Rudra</h3>
                <h3 class="kk">Choreographer in Hip-hop & Locking</h3>
                <a href="rudra"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'smaroki.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Smaroki</h3>
                <h3 class="kk">Singer & Dancer</h3>
                <a href="smaroki"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'raju.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Raju</h3>
                <h3 class="kk">Freelance Dance Artist</h3>
                <a href="raju"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Damini.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Damini</h3>
                <h3 class="kk">Dance, fashion & Lifestyle expert</h3>
                <a href="damini"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>