<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTORS</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <h2 class="pox lk">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'soumya.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Soumya</h3>
                <h3 class="kk">Masters in Business Administration & Artist</h3>
                <a href="soumya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'goutam.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Goutam</h3>
                <h3 class="kk">Masters from IIST in Quantum Physics</h3>
                <a href="goutam"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'aahana.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Ahana</h3>
                <h3 class="kk">Illustrator & Masters in VLSI</h3>
                <a href="ahana"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'bikram.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Bikram</h3>
                <h3 class="kk">Doctor</h3>
                <a href="bikram"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'juned.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Juned</h3>
                <h3 class="kk">Literarian</h3>
                <a href="juned"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sukesh</h3>
                <h3 class="kk">Dentist</h3>
                <a href="sukesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'karan.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Karan</h3>
                <h3 class="kk">Teacher & YouTuber</h3>
                <a href="karan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'anindya.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Anindya</h3>
                <h3 class="kk">Mtech in Manufacturing Engineer,Motivator</h3>
                <a href="anindya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sandhya.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sandhya</h3>
                <h3 class="kk">Biotechie, Masters in Biochemistry and Molecular Biology</h3>
                <a href="sandhya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jita.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Jita</h3>
                <h3 class="kk">MBA(HR) & Associate in CSIR-IMMT</h3>
                <a href="jita"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deekshith.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Deekshith</h3>
                <h3 class="kk">Masters in Electronics, EV Machines & Signals</h3>
                <a href="deekshith"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'animesh.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Animesh</h3>
                <h3 class="kk">M Arch, Singer & Poet</h3>
                <a href="animesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'albin.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Albin</h3>
                <h3 class="kk">Civil engineer</h3>
                <a href="albin"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'nikhil.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Nikhil</h3>
                <h3 class="kk">MTech in Mechatronics and automation</h3>
                <a href="nikhil"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Jayesh_Panigrahi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Jayesh</h3>
                <h3 class="kk">Management Graduate at IIM Sirmaur. </h3>
                <a href="jayesh"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'manisha.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Manisha</h3>
                <h3 class="kk">Aptitude & Reasoning Guide</h3>
                <a href="manisha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'tanaya.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Tannya</h3>
                <h3 class="kk">Mechanical Engineer</h3>
                <a href="tannya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pooja.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Pooja</h3>
                <h3 class="kk">Architect</h3>
                <a href="pooja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'gangaprasad.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Gangaprasad</h3>
                <h3 class="kk">GATE/ESE & Data Analytics Expert</h3>
                <a href="gangaprasad"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'amal.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Amal</h3>
                <h3 class="kk">Integration Analyst & Academic Counsellor</h3>
                <a href="amal"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'lipsa.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Lipsa</h3>
                <h3 class="kk">MBA & Book Reviewer/Blogger</h3>
                <a href="lipsaa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'werika.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Werika</h3>
                <h3 class="kk">Masters in Water Resource Engineering</h3>
                <a href="werika"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pechetti.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Sri valli P</h3>
                <h3 class="kk">Agricultural Expert</h3>
                <a href="srivalli"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height=300px><br><br>
                <h3 class="kk">BV Aditya</h3>
                <h3 class="kk">SOC analyst</h3>
                <a href="bvaditya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'boaz.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Abishakth</h3>
                <h3 class="kk">Master of Science in Industrial Engineering</h3>
                <a href="boaz"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sarthak.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Sarthak</h3>
                <h3 class="kk">Career guide & Counsellor</h3>
                <a href="sarthak"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'nimai.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Nimai</h3>
                <h3 class="kk">Government exams expert</h3>
                <a href="nimai"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'utkal.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Utkal</h3>
                <h3 class="kk">Competitive Exams Guide</h3>
                <a href="utkal"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'chetna_mike.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Chetana Milke</h3>
                <h3 class="kk">Management trainee</h3>
                <a href="chetana"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Vishwanath</h3>
                <h3 class="kk">Marketing Specialist and Professor</h3>
                <a href="mrvish"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'aman.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Aman</h3>
                <h3 class="kk">Web developer</h3>
                <a href="aman"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'indu.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Indu</h3>
                <h3 class="kk">Test engineer</h3>
                <a href="indu"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>