<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>COURSE</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="cs pox">What this course provides?</h4>
                <h5><span style='font-size:30px;'>&#8614;</span>You get total 5 hours of virtual class room teaching.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>You get notes for the respective courses.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>You get a personal mentor assigned to you.</h5>
            </div>
            <div class="col-sm-4">
                <h4 class="cs pox">How You acess the course?</h4>
                <h5><span style='font-size:30px;'>&#8614;</span>You will be connected with mentor after booking.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>Mentor shares meet-id with you.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>Then you can attend the class.</h5>
            </div>
            <div class="col-sm-4">
                <h4 class="cs pox">How We are different from others?</h4>
                <h5><span style='font-size:30px;'>&#8614;</span>You get mentor in your regional language.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>Personal mentor is there with you all the time.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>24*7 support team for any help.</h5>
                <h5><span style='font-size:30px;'>&#8614;</span>Less price with more benefits.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 pox"><a href="course"><button class="btn btn-success">HR course</button></a></div>
            <div class="col-sm-4 pox"><a href="skilldevelopment"><button class="btn btn-success">Skill development</button></a></div>
            <div class="col-sm-4 pox"><a href="softwaretrain"><button class="btn btn-success">Software training</button></div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
