<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3 class="textsize">Q .{{t}}</h3>
                <h3 class="textsize">Answer by expert:<h3>
                <h3 class="textsize">{{o}}</h3>
                {%if request.user.is_superuser%}
                <h3 class="textsize">Admin,you can write your answer</h3>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% if request.user.is_superuser%}
                <form action="/reply/{{g}}/" method="POST" class="form-group">
                    {%csrf_token%}
                    {%for i in fm%}
                    <p class="textsize">{{i}}</p>
                    {%endfor%}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                {%endif%}
                <a href="/"><h3 class="textsize align">CLICK HERE TO GO HOME</h3></a>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>