<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup best">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="stylesheet" href="{% static 'adv.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>HIRING</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 pox">
                <br><br><br>
                <h3>We are sorry.This page is under construction.We are working on it.it will be available soon.</h3>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>