<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="mentors session courses guidance platform besthelping platform teacher professional live project" >
    <meta name="description" content="Consult  Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "anvyas5g7s");
    </script>
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>Consult&Counsel</title>
</head>
<body>
     <div class="container-fluid ll">
        <div class="row justify-content-around">
            <div class="col-sm-12">
                <a href="/"><img src="{% static 'pp.jpeg'%}" alt="Avatar" width="100%" height="120%"></a>
            </div>
        </div><br>
        <div class="row justify-content-around">
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">MENTORS</button>
                    <div class="dropdown-content">
                        <a href="mentors">ALL</a>
                        <a href="art">ART</a>
                        <a href="dancer">DANCE</a>
                        <a href="musician">MUSIC</a>
                        <a href="education">EDUCATION</a>
                        <a href="fashion">FASHION</a>
                        <a href="professional">PROFESSIONAL</a>
                        <a href="fitness">FITNESS</a>
                        <a href="vlogger">BLOGGING</a>
                        <a href="others">OTHERS</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">SESSION</button>
                    <div class="dropdown-content">
                        <a href="session">BOOK SESSION</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">COURT</button>
                    <div class="dropdown-content">
                        <a href="virtualcourt">FILE A CASE</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">REGISTER</button>
                    <div class="dropdown-content">
                        <a href="volunter">JOIN AS A MENTOR</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">ACCOUNT</button>
                    <div class="dropdown-content">
                        <a href="login">LOGIN</a>
                        <a href="signup">SIGNUP</a>
                        <a href="account">PROFILE</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">HIRING</button>
                    <div class="dropdown-content">
                        <a href="hireme">HIRE AN EXPERT</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <a href="startnow"><button class="dropbtn btn btn-primary">COURSE</button></a>
                    <div class="dropdown-content">
                        <a href="course">HR COURSE</a>
                        <a href="softwaretrain">SOFTWARE TRAINING</a>
                        <a href="skilldevelopment">SKILL DEVELOPMENT</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">SOLUTION</button>
                    <div class="dropdown-content">
                        <a href="itsolution">DIGITAL SOLUTION</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="container-fluid kkk">
        <div class="row">
            <div class="col-sm-12">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 4</div>
                        <img src="static/img1.jpg" alt="Avatar" style="width:100%" >
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">2 / 4</div>
                        <img src="static/img2.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">3 / 4</div>
                        <img src="static/img3.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">4 / 4</div>
                        <img src="static/img5.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ll">
        <div class="row lk">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4 class="pox ssp">MENTORS</h4>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-3 pox"><img src="static/suniti (2).jpg" alt="Avatar" class="ch"></img><br><h4 class="pox mm">IIM Indore Almuni</h4></div>
            <div class="col-sm-3 pox"><img src="/static/pallavii.jpg" alt="Avatar" class="ch"></img><br><h4 class="pox mm">Social Entrepreneur & Digital Influencer</h4></div>
            <div class="col-sm-3 pox"><img src="/static/abhinash.jpg" alt="Avatar" class="ch"></img><br><h4 class="pox mm">Flim maker</h4></div>
            <div class="col-sm-3 pox"><img src="/static/Nirali.jpg" alt="Avatar" class="ch"></img><br><h4 class="pox mm">HR Professional and Psychologist</h4></div>
        </div>
        <div class="row lkp">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="mentors"><h4 class="pox ssp">+view more</h4></a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="session"><button class="btn btn-primary">BOOK A SESSION</button></a></div>
                <div class="col-md-12"><img src="{% static 'discuss.jpg'%}" alt="Avatar" height="100%" width="100%"></div>
                <div class="col-md-12"><a href="session"><p class="mm">Click here to book a session with our mentors.They will guide you.</a></div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12 pox"><button class="btn btn-primary">MUST WATCH</button></div>
                <div class="col-sm-12"><video width="100%" height="100%" controls><source src="{% static 'mov.mp4' %}" type="video/mp4"></video></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="volunter"><button class="btn btn-primary">BE A MENTOR</button></a></div>
                <div class="col-md-12"><img src="{% static 'mentor.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="volunter"><p class="mm">Click here to become a Mentor. Earn incentives and make impact on society.</p></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="discussion"><button class="btn btn-primary">ASK A QUESTION</button></a></div>
                <div class="col-md-12" id="ho"><img src="{% static 'volunter.jpg'%}" alt="Avatar" height="100%" width="100%"></div>
                <div class="col-md-12"><a href="discussion"><p class="mm">Click here to ask questions.Mentors are always there to answer your questions.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="donation"><button class="btn btn-primary">BE A DONOR</button></a></div>
                <div class="col-md-12"><img src="{% static 'charity.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="donation"><p class="mm">Click here to donate.We need your help to support people and help them financially.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="about"><button class="btn btn-primary">ABOUT US</button></a></div>
                <div class="col-md-12"><img src="{% static 'people.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="about"><p class="mm">Click here to know about us.Who we are,what we do and How we work to make a better world.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="testimony"><button class="btn btn-primary">WHAT PEOPLE SAY</button></a></div>
                <div class="col-md-12"><img src="{% static 'volunt.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="testimony"><p class="mm">Click here to read the reviews of people.Find out what people think about consult&counsel.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="startnow"><button class="btn btn-primary">COURSES</button></a></div>
                <div class="col-md-12"><img src="{% static 'course_home.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="startnow"><p class="mm">Click here to know about our courses.Find out how you can attend courses and what benefits you get.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="hireme"><button class="btn btn-primary">HIRE A MENTOR</button></a></div>
                <div class="col-md-12"><img src="{% static 'hire_home.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="hireme"><p class="mm">Want to hire our mentors. That's great.Click to know how you can proceed further.</p></a></div>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="#"><button class="btn btn-primary">MENTORS</button></button></a></div>
                <div class="col-md-12"><img src="{% static 'mentor_home.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="mentordetails"><p class="mm">Click to know mentors of different areas and their details.</p></a></div>
            </div>
             <div class="col-sm-3">
                <div class="col-md-12 pox"><a href="career"><button class="btn btn-primary">WORK WITH US</button></button></a></div>
                <div class="col-md-12"><img src="{% static 'career_home.jpg'%}" alt="Avatar" height="auto" width="100%"></div>
                <div class="col-md-12"><a href="career"><p class="mm">Start journey with us.Click here to know how to apply for the positions and many more.</p></a></div>
            </div>
        </div>
    </div>
    <div class="container-fluid ll">
        <div class="row llk">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4 class="pox ssp">HAPPY CUSTOMERS</h4>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-3 pox"><img src="static/akash.jpg" alt="Avatar" class="ch" width="300px"></img><br><div><p class="pox kk">I have taken session about my career,that was awesome.I highly recommend this site.</p></div></div>
            <div class="col-sm-3 pox"><img src="/static/shrutiji.jpeg" alt="Avatar" class="ch" width="300px"></img><br><div><p class="pox kk">I wanted to start my own company but confused how to start.I took a session and that helped me a lot.</p></div></div>
            <div class="col-sm-3 pox"><img src="/static/shlok.jpg" alt="Avatar" class="ch" width="300px"></img><br><div><p class="pox kk">Consult & Counsel helped me a lot in my preparation.Thanks a lot team.</p></div></div>
            <div class="col-sm-3 pox"><img src="static/sandeep.jpeg" alt="Avatar" class="ch" width="300px"></img><br><div><p class="pox kk">I want to start my career in aws and cloud.This team helped me a lot to achieve my goal.</p></div></div>
        </div>
    </div>
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <div class="container-fluid llm">
        <div class="row">
            <div class="col-md-2 pox">
                <p class="kl">Legal</p>
                <a href="privacy"><p class="kk">Privacy</P></a>
                <a href="policy"><p class="kk">Policy</P></a>
                <a href="about"><p class="kk">About us</p></a>
            </div>
            <div class="col-md-2 pox">
                <p class="kl">Links</p>
                <a href="support"><p class="kk">Contact us</P></a>
                <a href="career"><p class="kk">Career</P></a>
                <a href="donation"><p class="kk">Donation</P></a>
            </div>
            <div class="col-md-2 pox">
                <p class="kl">Partners</p>
                <a href="https://vishuddhiyogastudio.business.site/?utm_source=gmb&utm_medium=referral"><p class="kk">Vishuddhi Yoga Studio</p></a>
                <a href="https://thehrsuite.wixsite.com/thehrsuite"><p class="kk">The HR Suite</p></a>
            </div>
            <div class="col-md-3 pox">
                <p class="kl">Social account</p>
                <div class="row">
                    <div class="col-12">
                        <a href="https://m.facebook.com/Consult-Counsel-117588793422169/"><i class="fab fa-facebook-square" style="font-size: 2.73em"></i></a>
                        <a href="https://www.linkedin.com/company/69157452/"><i class="fab fa-linkedin" style="font-size: 2.73em"></i></a>
                        <a href="https://www.instagram.com/consultandcounsel/"><i class="fab fa-instagram-square" style="font-size: 2.83em"></i></a>
                        <a href="https://www.youtube.com/channel/UC3PZOeQZcXvyN6J83LztqIg"><i class="fab fa-youtube-square" style="font-size: 2.83em"></i></a>
                    </div><br>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-sm-8"><br>
                        <a href="feedback"><p class="kk pox">Feedback</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pox">
                <p class="kl">Office address</p>
                <i class='fas fa-home' style='font-size:25px'></i>
                <p class="kk sl">Ejipura,kormangla,Bangalore</p>
                <p class="kk sl">Railway colony,Ramagundam,Telangana</p>
            </div>
        </div>
    </div>
    <script>
        var slideIndex = 0;
        showSlides();
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 3000); // Change image every 2 seconds
        }
    </script>
</body>
</html>