<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTORS</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <h2 class="pox lk">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'abhya.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Abhay</h3>
                <h3 class="kk">Freelance Guitarist & Electronic music producer</h3>
                <a href="abhya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'anupam.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Anupam</h3>
                <h3 class="kk">Sound Engineer, Music Producer & Drummer</h3>
                <a href="anupam"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'manan.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Manan</h3>
                <h3 class="kk">Professional Guitarist</h3>
                <a href="manan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'radhakant.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Radhakant</h3>
                <h3 class="kk">Singer</h3>
                <a href="radhakant"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'shashank.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Shashank</h3>
                <h3 class="kk">Classical flute player</h3>
                <a href="shashank"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rishi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Rishi</h3>
                <h3 class="kk">Guitar Player</h3>
                <a href="rishi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'smaroki.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Smaroki</h3>
                <h3 class="kk">Singer & Dancer</h3>
                <a href="smaroki"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>