<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'nimai.jpg'%}" width="100%" height="30%"><br>
                <h3 class="pox">Nimai</h3>
                <h3 class="pox">Government exams expert</h3>
                <h3 class="pox"></h3>
                <p class="kk pox">
                    Hi, This is Nimai- an engineering graduate and an Accenture alumini (SAP BASIS).... Currently, enrolled in Masters in Economics, I am here to help you out with your preparation for the two major fields-
                    1) IBPS BANKING
                    2) UPSC CSE (General Studies).
                    I have been guiding people in past and knows about the obstacles that may come in your way...So join me, to help you overcome with your difficulties in those areas.
                    Always happy to help an open mind😜
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
