<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <title>Account registration form</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form action="confirm_order" method="POST" class="form-group">{% csrf_token %}
                    <h3 class="pox">Creating order</h3>
                    <div class="suppy"><label><h5 class="kk puppy">Name</h5></label><input type="text" name="name" required class="form-control"></div>
                    <div class="suppy"><label><h5 class="kk puppy">Mobile no</h5></label><input type="text" name="phone" required class="form-control"></div>
                    <div class="suppy"><label><h5 class="kk puppy">Email</h5></label><input type="email" name="email" required class="form-control"></div>
                    <div class="suppy"><label><h5 class="kk puppy">Reffered by</h5></label><input type="text" name="refer" required class="form-control"></div>
                    <div class="suppy"><label><h5 class="kk puppy">Write your concern</h5></label><input type="text" name="concern" required class="form-control"></div>
                    <div class="suppy"><label for="plan"><h5 class="kk puppy">Choose a Plan</h5></label>
                    <select name="plan" id="plan" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
                </div>
                    
                    <button type="submit" class="btn btn-dark">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>