<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>PAYMENT</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="pox cv">STEP 3 OF 3</h3><br>
                <h3 class="kk pox">Prime membership</h3>
                <h3 class="kk pox">setup your payment</h3>
                <h3 class="kk pox">Your membership starts as soon as you set up payment</h3><br>
                <div class="row">
                    <div class="col-sm-4 pox"><a href="nextpay"><button class="btn btn-dark">PAYTM</button></a></div>
                    <div class="col-sm-4 pox"><a href="directpay"><button class="btn btn-dark">DIRECT PAY</button></a></div>
                    <div class="col-sm-4 pox"><a href="paymentstart"><button class="btn btn-dark">RAZORPAY</button></a></div>
                </div><br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>