<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'pooja.jpg'%}" width="100%" height="350px"><br>
                <h3 class="pox">Pooja Kotni</h3>
                <h3 class="pox">Architect</h3>
                <h3 class="pox"></h3>
                <p class="kk pox">
                    I am currently pursuing entrepreneurship and have been continuing the same since 3 years. I have accomplished my works on varied kind of projects ranging from small to medium scale including construction, interior and other architectural services and co-founder of a  startup firm “Studio Ayuh”.
                    I am computer proficient with the ability to use or learn any software needed for the works. I have gained my experiences from some of the reputed firms during my internship tenure and gained practical knowledge during the field works.
                    Instagram profile of Studio Ayuh :<a> https://instagram.com/studio_ayuh?igshid=1szk5y2k4ws06</a>
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>