<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'prachii.JPG'%}" width="100%" height="350px"><br>
                <h3 class="pox">Prachi Agrwal</h3>
                <h3 class="pox">Asic verification engineer</h3>
                <h3 class="pox"></h3>
                <p class="kk pox">
                    I have been working in the VLSI DOMAIN as an ASIC VERIFICATION ENGINEER since July 2018.I have an expertise in the Verification languages like UVM,System Verilog and certain protocols like CXL,PCIe.
                    Entering in VLSI Domain is really difficult but if you know certain things beforehand,it will be really helpful to prepare for the interviews.if you need any guidance,book session with me.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
