<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTORS</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <h2 class="pox lk">&#9829;OUR MENTORS&#9829;</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'shree.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Shreeparna</h3>
                <h3 class="kk">Classical dancer & Software techie</h3>
                <a href="shree"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soni.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sony</h3>
                <h3 class="kk">Health care expert</h3>
                <a href="soni"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'jawat.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Jahwat</h3>
                <h3 class="kk">Agile,SAP ILM/ Basis Developer </h3>
                <a href="jawat"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'priynka.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Priyanka</h3>
                <h3 class="kk">SAP ABAP/BODS Developer</h3>
                <a href="priyanka"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rahul.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Junior associate at SBI</h3>
                <h3 class="kk">Rahul</h3>
                <a href="rahul"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Farheen</h3>
                <h3 class="kk">Creative Artist & Software Techie</h3>
                <a href="farheen"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'tejawsi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Tejaswi</h3>
                <h3 class="kk">IT professional and Communicator</h3>
                <a href="tejaswi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Smita</h3>
                <h3 class="kk">Cloud Operations Expert</h3>
                <a href="smita"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sanjana</h3>
                <h3 class="kk">Brand Marketing Expert</h3>
                <a href="sanjana"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'padmini.jpeg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Padmini</h3>
                <h3 class="kk">MBA & Agile Developer</h3>
                <a href="padmini"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'hardeek.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Hardeek</h3>
                <h3 class="kk">SAP & ABAP Developer</h3>
                <a href="hardeek"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumya_prusti.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Soumya</h3>
                <h3 class="kk">Architect & Interior Designer</h3>
                <a href="soumya_prusti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'amit_patjoshi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Amit</h3>
                <h3 class="kk">Healthcare consultant, Gamer & Computer Geek</h3>
                <a href="amit_patjoshi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'priynka_brahama.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Priynka</h3>
                <h3 class="kk">Quality assurance, Auditing & Customer Management</h3>
                <a href="priynka_br"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'palavi_del.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Pallavi</h3>
                <h3 class="kk">Software engineer</h3>
                <a href="pallavi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sidhi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sidhi</h3>
                <h3 class="kk">Application Development Analyst</h3>
                <a href="sidhi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'soumav.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Soumav</h3>
                <h3 class="kk">Data Engineer & Product Integration</h3>
                <a href="soumav"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static '531-PRACHI AGRAWAL.JPG'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Prachi</h3>
                <h3 class="kk">Asic verification engineer</h3>
                <a href="prachi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Ayushi.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Ayushi</h3>
                <h3 class="kk">IT Consultant & Dancer</h3>
                <a href="ayushi"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pallavii.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Pallavi</h3>
                <h3 class="kk">Social Entrepreneur & Digital Influencer</h3>
                <a href="pallavii"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'Nirali.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Nirali</h3>
                <h3 class="kk">Psychologist & HR professional</h3>
                <a href="nirali"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deeja.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Deeja</h3>
                <h3 class="kk">SAP consultant</h3>
                <a href="deeja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'deepa.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Deepa</h3>
                <h3 class="kk">Mechanical Maintenance Engineer</h3>
                <a href="deepa"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'prasanna.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Prasanna</h3>
                <h3 class="kk">Oracle Developer, Quiling & Thread Artist.</h3>
                <a href="prasanna"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'subashis.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Subashis</h3>
                <h3 class="kk">UX/UI Designer, Product Designer</h3>
                <a href="subashis"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'trilochan.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Trilochan</h3>
                <h3 class="kk">.NET Developer, IOT & Blockchain Expert</h3>
                <a href="trilochan"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'saswat.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Saswat</h3>
                <h3 class="kk">Career and Business Management</h3>
                <a href="saswat"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'somensoni.jpeg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Somensoni Behuria</h3>
                <h3 class="kk">Oracle Application Developer.</h3>
                <a href="somensoni"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'pooja.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Pooja</h3>
                <h3 class="kk">Architect</h3>
                <a href="pooja"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Haritha</h3>
                <h3 class="kk">IT professional & Fitness Expert</h3>
                <a href="haritha"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">BV Aditya</h3>
                <h3 class="kk">SOC analyst</h3>
                <a href="bvaditya"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sanju.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Sanju</h3>
                <h3 class="kk">Project & Business Ideas Expert</h3>
                <a href="sanju"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ananda.jpg'%}" width="100%" height="300px"><br><br>
                <h3 class="kk">Anand</h3>
                <h3 class="kk">Software Developer and Sports Enthusiastic</h3>
                <a href="anand"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ritu.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Ritu</h3>
                <h3 class="kk">Entrepreneur</h3>
                <a href="ritu"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'chiranjevi.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Chiranjeeb</h3>
                <h3 class="kk">Business Development Executive</h3>
                <a href="chiranjeeb"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'rahul2.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Rahul</h3>
                <h3 class="kk">Cybersecurity Expert</h3>
                <a href="rahul2"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'sushil.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Sushil</h3>
                <h3 class="kk">veterinarian</h3>
                <a href="sushil"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'suniti (2).jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Suniti</h3>
                <h3 class="kk">IIM-Almuni</h3>
                <a href="suniti"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'sushant.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Sushant</h3>
                <h3 class="kk">Financiala advisor</h3>
                <a href="sushant"><h4>Read more</h4></a>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'ping.png'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Manasa</h3>
                <h3 class="kk">Software engineer at JP Morgan</h3>
                <a href="manasasu"><h4>Read more</h4></a>
            </div>
             <div class="col-sm-3">
                <img src="{% static 'aman.jpg'%}" width="100%" height=300px><br><br>
                <h3 class="kk">Aman Agrwal</h3>
                <h3 class="kk">Web developer</h3>
                <a href="aman"><h4>Read more</h4></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>