<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>Referal</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="pox" style="color:red">Get RS.30 by referring.</h4>
                <h4 class="pox">Fill up the form get code.</h4>
                <p class="kk pox" style="color:red">Share with friends and family.Help them and get money.</p>
                <form class="form-group" action="demoo" method="POST">
                    {% csrf_token %}
                    {%for i in fm%}
                    <h5 class="kk">{{ i.label }}</h5>
                    <h5 class="kk">{{ i }}{{i.errors|striptags}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
                <p class="kk">Read-When they book session using your code then you get your amount.They can talk with their favourite mentors through video call.Free session is not applicable for referal.</p></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>