<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="stylesheet" href="{% static 'adv.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>SEARCH</title>
</head>
<body>
    <div class="container-fluid ll pox">
        <div class="openBtn">
            <button class="btn btn-primary" onclick="openForm()">Avail 30%OFF</button>
        </div>
        <div class="loginPopup">
            <div class="formPopup" id="popupForm">
            <form action="couponavail" class="formContainer" method="POST">
                <h2>Please enter information</h2>
                <label for="email">
                <strong>Name</strong>
                </label>
                <input type="text" id="email" placeholder="Your name" name="name_generated" required>
                <label for="psw">
                <strong>Mobile No</strong>
                </label>
                <input type="text" id="psw" placeholder="Your Mobile No" name="mobileno_generated" required>
                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div><br>
</body>
</html>