<!DOCTYPE html>
{% extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup best">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>SESSION</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="pox kl">BOOK NOW</h3>
                <img src="{% static 'discuss.jpg'%}" width="100%" height="auto">
                <p  class="kk">Be a part of our services by becoming a premium member, so that you can get our best facilities.
                    You will get 24*7 consulting  services from our professionals in concerned domain.
                    You will be updated on regular basis via weekly sessions by our experts.
                    You will be provided with face to face calling with our mentors.
                    You will avail guidance materials for additional features.
                    You will also be entitled to special discounts for your plan and also for referrals.</p>
                <div class="pox"><a href="prime"><button class="btn btn-dark">BOOK YOUR SESSION</button></a></div>
            </div><br>
        </div>
    </div>
    {% endblock content %}
</body>
</html>