<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align">Creat your account</h3>
                <form class="form-group" action="signup" method="POST">
                    {% csrf_token %}
                    {%for field in fm%}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {%endfor%}
                    <button class="btn btn-success space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>