<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>MENTOR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
         <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align form-heading">Book Free session</h4>
                <p class="textsize">Fill up the form get free session now.</p>
                <p class="textsize">You donot need to pay any amount.</p>
                <form class="form-group" action="web" method="POST">
                    {% csrf_token %}
                    {% for field in fm %}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
                <a href="mentors"><p class="textsize">Check our mentors.</p></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>