<!DOCTYPE html>
{% extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="align form-heading">STEP 2 OF 3</h3>
                <p class="textsize align step2-first">CHOOSE YOUR PLAN</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Plan-1</p>
                <p class="textsize">Price:150</p>
                <p class="textsize">1 consultation call</p>
                <p class="textsize">1 followup call</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a>
            </div>
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Plan-2</p>
                <p class="textsize">Price:300</p>
                <p class="textsize">2 consultation call</p>
                <p class="textsize">2 followup call</p>
                <p class="textsize">Material support</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a><br>
            </div>
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Plan-3</p>
                <p class="textsize">Price:400</p>
                <p class="textsize">4 Consultation call</p>
                <p class="textsize">2 followup call</p>
                <p class="textsize">24*7 support</p>
                <p class="textsize">Material support</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a><br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>