<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align form-heading">STEP 1 OF 3</h3>
                <p class="textsize align">CHOOSE YOUR PLANS</p>
                <p class="textsize align">&#10003;you will get a counsultant call</p>
                <p class="textsize align">&#10003;No commitments, cancel anytime</p>
                <p class="textsize align">&#10003;You can acess all the features</p>
                <p class="textsize align">&#10003;You can talk with mentor anytime</p>
                <div class="align"><a href="step2"><button class="btn btn-dark">SEE THE PLANS</button></a></div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>