<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align">CONTACT US:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="textsize align">&#8594;Technical support</h3>
                <h3 class="textsize align">gmail:sumanpatra68@gmail.com</h3>
                <h3 class="textsize align">mobile:7750048275</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="textsize align">&#8594;Other support:</h3>
                <h3 class="textsize align">gmail:bhanup997@gmail.com</h3>
                <h3 class="textsize align">mobile:7205900207</h3>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>