<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="align section-heading">What this course provides?</h4>
                <h5><span class="course-textstyle">&#8614;</span>You get total 5 hours of virtual class room teaching.</h5>
                <h5><span class="course-textstyle">&#8614;</span>You get notes for the respective courses.</h5>
                <h5><span class="course-textstyle">&#8614;</span>You get a personal mentor assigned to you.</h5>
            </div>
            <div class="col-sm-4">
                <h4 class="align section-heading">How You acess the course?</h4>
                <h5><span class="course-textstyle">&#8614;</span>You will be connected with mentor after booking.</h5>
                <h5><span class="course-textstyle">&#8614;</span>Mentor shares meet-id with you.</h5>
                <h5><span class="course-textstyle">&#8614;</span>Then you can attend the class.</h5>
            </div>
            <div class="col-sm-4">
                <h4 class="align section-heading">How We are different from others?</h4>
                <h5><span class="course-textstyle">&#8614;</span>You get mentor in your regional language.</h5>
                <h5><span class="course-textstyle">&#8614;</span>Personal mentor is there with you all the time.</h5>
                <h5><span class="course-textstyle">&#8614;</span>24*7 support team for any help.</h5>
                <h5><span class="course-textstyle">&#8614;</span>Less price with more benefits.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 align"><a href="hrcourse"><button class="btn btn-success">HR course</button></a></div>
            <div class="col-sm-4 align"><a href="skilldevelopment"><button class="btn btn-success">Skill development</button></a></div>
            <div class="col-sm-4 align"><a href="softwaretraing"><button class="btn btn-success">Software training</button></div>
        </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>