<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><img src="{% static 'court6.jpeg'%}" class="best-img"></div>
            <div class="col-md-6">
                 <form action="court-request-done" method="POST" class="form-group" enctype="multipart/form-data">
                    <label for="fname" class="space"><div class="textsize">Name</div></label>
                    <input type="text" id="lname" name="lastname" class="form-control space">
                    <label for="fname" class="space"><div class="textsize">Email</div></label>
                    <input type="text" id="fname" name="email" class="form-control space">
                    <label for="lname" class="space"><div class="textsize">Mobile</div></label>
                    <input type="text" id="lname" name="mobile" class="form-control space">
                    <label for="lname" class="space"><div class="textsize">Location</div></label>
                    <input type="text" id="location" name="location" class="form-control space">
                    <button type="submit" class="btn btn-dark space-button">SUBMIT</button>
                </form>
            </div>
            <div class="col-md-3"><img src="{% static 'court7.jpeg'%}" class="best-img"></div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>