<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST" action="qr" class="form-group">
                    {% csrf_token %}
                    <h3 class="align form-heading">Creating order</h3>
                    <label class="space"><div class="textsize">Name</div></label>
                    <input type="text" name="name" required class="form-control space" value={{name}}>
                    <label class="space"><div class="textsize">Mobile no</div></label>
                    <input type="text" name="phone" required class="form-control space">
                    <label class="space"><div class="textsize">Email</div></label>
                    <input type="email" name="email" required class="form-control space">
                    <label class="space"><div class="textsize">Refered by</div></label>
                    <input type="text" name="refer" required class="form-control space">
                    <label class="space"><div class="textsize">Write your concern</div></label>
                    <input type="text" name="concern" required class="form-control space">
                    <label class="space" for="plan"><div class="textsize">Choose a Plan:</div></label>
                    <div class="space">
                        <select name="plan" id="plan" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>
                    </div>
                    <button type="submit" name="submit" value="Submit" class="btn btn-dark space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>