<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static %}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form method="POST" action="paynext" class="form-group">
                    {% csrf_token %}
                    <h4 class="form-heading">Enter your information correctly</h4>
                    <label for="username" class="space"><div class="textsize space">Name:</div></label>
                    <input type="text" name="username" required class="form-control space">
                    <label for="password" class="space"><div class="textsize space">Email:</div></label>
                    <input type="text" name="email" required class="form-control space">
                    <label for="plan"><div class="textsize space">Amount:</div></label>
                    <input type="text" name="amount" class="form-control space">
                    <button type="submit"required class="btn btn-success space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>