<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h4 class="align section-heading">DONATE</h4>
                <img src="{% static 'charityy.jpg'%}" class="section-img">
                <div class="textsize">As we consult and counsel people from diverse backgrounds, we find some people find it very difficult to afford even basic necessities due to deficit in monetary aspects.
                Hence we have taken up this initiative to help such people in any possible way by saving their dreams from being shattered.
                Kindly donate whatever you feel like giving to such people to help them pursue their goals for which we will be grateful.</div>
                <div class="align"><a href="paynow"><button class="btn btn-dark">CLICK HERE TO DONATE</button></a></div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>