<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align form-heading">Edit profile</h3>
                <form  method="POST" class="form-group">
                    {%csrf_token%}
                    {% for t in data%}
                    <div class="textsize">{{t.label_tag}}</div> 
                    <div class="space">{{t}}</div>
                    {% endfor %}
                    <button class="btn btn-success space-button" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>