<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form action="feedback" method="POST" class="form-group">
                    {% for field in fm %}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>