<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static %}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <ul>
                    <h4>1.This is a free website development training/course.</h4>
                    <h4>2.Having basic idea of Python, HTML and CSS is necessary.</h4>
                    <h4>Training will start in mid May and would be around 30 days.</h4>
                    <h4>At the end certification will be provided to attendees.</h4>
                    <h4>For any other clarification please reach out to 7750048275 or 7205900207</h4>
                </ul>
                <form method="POST" action="freetraining" class="form-group">
                    {% csrf_token %}
                    <h3 class="align form-heading">Fill the form correctly</h3>
                    <label for="username" class="space"><div class="textsize">Name</div></label>
                    <input type="text" name="username" required class="form-control space">
                    <label for="mobileno" class="space"><div class="textsize">Mobile-no</div></label>
                    <input type="text" name="mobileno"  class="form-control space">
                    <label for="email" class="space"><div class="textsize">Email</div> </label>
                    <input type="email" name="email" class="form-control space">
                    <button type="submit" name="submit" value="Submit" class="btn btn-dark space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {%endblock content%}
</body>
</html>