<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4 class="align">Course Package</h4>
                <h5>Personality development- 100/-</h5>
                <h5>Communication skill- 100/-</h5>
                <h5>Interview questions- 100/-</h5>
                <h5>Linkedin optimization- 100/-</h5>
                <h5>Resume building- 100/-</h5>
                <h5>Demo interview- 100/-</h5>
                <h5>All courses-Total Price- 600/-</h5>
                <h5>Offer Price- 500/-</h5>
                <a href="course-form"><button class="btn btn-success">Book now</button></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
