<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><br>
                &#128542;&#128542; &#128542; &#128542; &#128542; &#128542; &#128542; &#128542; &#128542;  &#128542;  &#128542;<br>
                <h5>Sorry this post is unavailable now</h5>
                <h5>Please stay connected with us in social profile</h5>
                <h5>follow us in facebook and Linkedin to know all the job openings</h5> <br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>