<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static 'pic.jpg'%}" class="best-img">
                <h3 class="textsize align">Thank you for applying.we will connect with you soon</h3>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>