<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static %}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align">Sign-in your account here</h4>
                <form class="form-group" action="login" method="POST">
                    {% csrf_token %}
                    {%for field in fm%}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {%endfor%}
                    <button type="submit" class="btn btn-success space-button">SUBMIT</button>
                </form>
                <div class="textsize">New to site?</div><a href="signup"><div class="textsize">Creat your account</div></a>
                <div class="textsize"><a href="passwordchange">forgot password</a></div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>