<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="align textsize">We are sorry</div>
                <img src="{% static 'laptop.jpg'%}" class="best-img"><br>
                <div class="align textsize">Due to some technical problem,paytm option is not availabe now</div>
                <a href="netbanking"><div class="align textsize">Please pay via Razorpay</div></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
