<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h3 class="align section-heading">Have a look</h3>
                    <img src="{% static 'mentor_home.jpg'%}"class="section-img">
                    <p  class="textsize">
                        A mentor is a person or friend who guides a less experienced person by building trust and modeling positive behaviors. An effective mentor understands that his or her role is to be dependable, engaged, authentic, and tuned into the needs of the mentee.
                        The word mentor comes from the character "Mentor" in Homer's epic tale, The Odyssey. Mentor was a trusted friend of Odysseus, the king of Ithaca. When Odysseus fought in the Trojan War, Mentor served as friend and counsel to Odysseus' son Telemachus. 
                        Riverside Webster’s II New College Dictionary 1995 defines a mentor as “a wise and trusted teacher or counselor”. The act of mentoring is a series of ongoing and little successes.  You will be able to make a real impact through consistent and ongoing relationship building
                    </p>
                   <a href="mentors"><div class="align"><button class="btn btn-warning">SEE MENTORS</button></div></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>