<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h4 class="align section-heading">BE A MENTOR</h4>
                <img src="{% static 'volunt.jpg'%}" class="section-img">
                <p class="textsize">If you feel that you can mentor people who are perplexed towards their ambitions due to lack of guidance then this is the best place.
                Being a mentor helps you to guide such people by answering their queries in forum and guide people in phone/video calls in your area of expertise alongwith attractive incentives.
                Feel free to volunteer in this noble cause by helping people to reach their targets and feel the sense of satisfaction obtained by it.
                Go to click here to become mentor button and submit your profile</p>
                <div class="align"><a href="mentor-form"><button class="btn btn-dark">CLICK HERE TO BE A MENTOR</button></a></div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>