<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
         <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <br>
                <h3 class="align">&#128151;Thank you for registration.&#128151;</h3>
                <h3 class="align">We will connect you soon.</h3>
                <br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>