<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>Change your password</h3>
                <form action="password" method="POST">
                    {% csrf_token%}
                    {%for field in fm%}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {%endfor%}
                    <button type="submit" class="btn btn-success space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>