<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static %}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <p class="textsize">  Pay securely via QR code or razorpay.....&#128525;&#128525;&#128525;</p>
                <img src="{% static 'help.jpg'%}" class="section-img">
            </div><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5 align"><a href="directpay-gateway"><button class="btn btn-dark">DIRECTPAY</button></a></div>
                <div class="col-sm-5 align"><a href="razorpay-gateway"><button class="btn btn-dark">RAZORPAY</button></a></div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>