<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>TERMS AND CONDITIONS</h3>
                <h5 class="textsize">By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
                If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                The materials contained in this web site are protected by applicable copyright and trade mark law.
                consultandcounsel.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by consultandcounsel.com of the site. Use of any such linked web site is at the user's own risk.
                For the online assesments purchased on platform, customer can claim a refund for the unused invited within 7 days from the date of purchase.
                The refunds are processed and settled within 7 working days from the date of refund claim.
                The materials appearing on consultandcounsel.com's web site could include technical, typographical, or photographic errors. consultandcounsel.com does not warrant that any of the materials on its web site are accurate, complete, or current. consultandcounsel.com may make changes to the materials contained on its web site at any time without notice.
                consultandcounsel.com does not, however, make any commitment to update the materials.</h5>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>