<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>Enter your name to reset password.Name should be username.</h3>
                <form action="passwordchange" method="POST" class="form-group">
                    {%csrf_token%}
                    <h5 class="kk">{{fm.as_p}}</h5>
                    <button class="btn btn-success">SUBMIT</button>
                </form>
            </div><br><br>
        </div>
    </div>
    {% endblock content %}
</body>
</html>