<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4 class="align form-heading">Hurry up ! Available Courses</h4>
                <h5>Photography - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Design & Illustration- 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Content Development- 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Blogging- 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Literature & writing- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Art & Painting Class- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Fitness Class- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Yoga & Meditation- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Cooking - 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Flim making- 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Gaming - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Acting - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Dance Class- 500/-<a href="course-form"></h5><button class="btn btn-success">Book now</button></a>
                <h5>Music Class- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
