<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4 class="align form-heading">Available Courses</h4>
                <h5>Any Programming language- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Any database language - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Cloud Computing - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Data science- 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Salesforce - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Digital marketing - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Operating system - 500/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>Web development - 1000/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>App development - 1000</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
                <h5>IOT,AI & Machine learning - 1000/-</h5><a href="course-form"><button class="btn btn-success">Book now</button></a>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>
