<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="align form-heading">STEP 2 OF 3</h3>
                <p class="textsize align step2-first">CHOOSE YOUR PLAN</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Short term</p>
                <p class="textsize">Price - 100</p>
                <p class="textsize">1 consultation call</p>
                <p class="textsize">Time limit : 1 hour</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a>
            </div>
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Monthly</p>
                <p class="textsize">1 Month Plan - 400/-</p>
                <p class="textsize">Discount price - 300/-(25% discount)</p>
                <p class="textsize">Unlimited call thoughout month</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a><br>
            </div>
            <div class="col-sm-4 align">
                <p class="textsize step2-second">Bi monthly</p>
                <p class="textsize">2 Month Plan - 700</p>
                <p class="textsize">Discount price - 500/-(30% discount)</p>
                <p class="textsize">Unlimited calls throughout 2 months</p>
                <a href="step3"><button class="btn btn-dark">SELECT PLAN</button></a><br>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>