<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row"><br>
            <div class="col-sm-2 align"><img src="{% static 'suman.jpg'%}" class="aboutus-img"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <h3 class="align">Associate software engineer</h3>
                <h4 class="align">Employee at Wipro</h4>
                <p class="textsize align">Suman is from Jajpur Odisha but currently staying at Bangalore and has done his engineering from Odisha's reputed college VSSUT.
                    He is currently a software engineer at Wipro Hyderabad with 1+ years of experience. He works as a mentor in different colleges apart from his work. He always passionate about the solving real time problems with technology.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>