<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 align">
                <a href="https://m.facebook.com/Consult-Counsel-117588793422169/"><h3>Follow our fb page to see all the review videos,mentor's video and many more stuffs.</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <video class="best-img" controls><source src="{% static 'video4.mp4' %}" type="video/mp4"></video>
            </div>
            <div class="col-sm-4">
                <video class="best-img" controls><source src="{% static 'video1.mp4' %}" type="video/mp4"></video>
            </div>
            <div class="col-sm-4">
                <video class="best-img" controls><source src="{% static 'video2.mp4' %}" type="video/mp4"></video>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>