<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h5 class="align">Thank you for your request.Our Team will connect with you soon.</h5>
                <h5 class="align">Please check all the features of us in the header section. Have a great career ahead.</h5>
                <h5 class="align">Any help ? Call us on 7750048275 No.</h5>
                <a href="/"><h5 class="align"><p class="align">Click here to go home.</h5></a><br>
            </div>
        </div>
    </div>
    {% endblock content%}
</body>
</html>