<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h3 class="align section-heading">Soory not available</h3>
                    <img src="{% static 'laptop.jpg'%}"class="section-img">
                    <a href="step3"><div class="align textsize">Back to payment page</div></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>