<!DOCTYPE html>
{% extends 'master/base.html'%}
{%load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <img src="{% static 'court1.jpeg'%}" class="court-img">
                <div class="align"><a href="courtform"><button class="btn btn-dark space-button">ENTER VIRTUAL COURT </button></a></div>
            </div>
            <div class="col-md-5">
                <h5 class="align section-heading">VIRTUAL COURT PROCESS</h5>
                <h6>1.We get request from the client and we discuss with them to figure out the exact problem.</p>
                <h6>2.We connect with second party through our client and get their confirmation.</p>
                <h6>3.We appoint an Expert depending upon the scenario and based on acceptance of both the parties.</p>
                <h6>4.Then we conduct a virtual court hearing on a particular date based on availability of both the parties.</p>
                <h6>5.We discuss in presence of an expert to find out the best possible solution for both the parties.</p>
                <h6>6.After that, We close the case, make a certified agreement and we make sure everything is going well by following up.</p>
                <p>Note:Any type of personal information/data are always secured and confidential with us. We do not share such information anywhere.</p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>